html {
  height: 100%;
}
body {
  font-family: 'Merriweather', serif;
  text-align: center;
  background-color: #fffaf1;
  width: 100%;
  height: 100%;
  margin: auto;
  display: grid;
  grid-template-rows: 10% 10% 30% 40% 10%;
  grid-template-columns: 10% 10% 60% 10% 10%;
}
h1 {
  font-family: 'Sacramento', cursive;
  font-weight: bold;
  font-size: 5vw;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  color: #b39c72;
  font-size: 2vw;
}
.header-container {
  margin: 1% auto;
  width: 100%;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 5;
}
.nav-item {
  margin: auto;
}
.nav-link {
  font-size: 2vw;
  color: #6083b3;
}
.nav-link:hover {
  color: #1b57a6;
}
.body-container {
  grid-row-start: 3;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 5;
  position: relative;
}
.upper-cloud {
  display: block;
  max-width: 50%;
  height: auto;
  position: absolute;
  left: 80%;
}
.bottom-cloud {
  max-width: 50%;
  height: auto;
}
.bottom-mountain {
  max-width: 100%;
  height: auto;
}
.bottom-container {
  grid-row-start: 5;
  grid-column-start: 2;
  grid-column-end: 5;
}
.communication {
  width: 15%;
  margin: auto;
}
.footer-link {
  font-size: 2vw;
  color: #6083b3;
  margin: 5%;
}
.footer-link:hover {
  color: #152783;
}

.cp-right {
  color: #6083b3;
  font-size: 1vw;
}

.card-container {
  width: 100%;
  height: 100%;
  overflow: scroll;
  margin: auto;
}
.card {
  margin: 5% auto;
  width: 60%;
}
.card-title {
  font-weight: bold;
}
.card-text {
  font-weight: bold;
}
